<section id="event" class="container-fluid">   
  <div class="row">
    <h3>Event</h3>
    <div class="col-sm-9 well">
      <h3>
        <%= @event.title %>
      </h3>  
      <%= @event.description %>
    </div>
    <div class="col-sm-3">
    <div class="well">
      <%= event_time_tag(@event) %>
    </div>
    <div class="well"> 
      <h3>Bookings</h3>
      <input type="text-box">
      <button class="btn btn-primary btn-block">Attend</button>
      <h3>Attendees</h3>
    </div>
    </div>
  </div>  
</section>